<h1>Hello world!</h1>

<% for x in @news["Data"] %>
  <img src="<%= x["imageurl"]%>" alt=""> <br>
  <strong> <%= x["title"] %> </strong> <br>
  <%= x["body"] %> <br>
  <a href="<%= x["url"]%>">Read more...</a><br><hr>
<% end %>
